/* google font link */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  /* padding dile vetor theke pabe tai */
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  background-color: #1c2833;
  height: 80px;
  padding: 0 50px 0 80px;
  align-items: center;
}
.logo {
  font-size: 25px;
  font-weight: bold;
  color: white;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style-type: none;
  margin: 0 8px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 7px 13px;
  border-radius: 5px;
  transition: 0.5s;
  text-transform: uppercase;
}

nav ul li a:hover,
nav ul li a.active-nav-item {
  background-color: #566573;
}
#click {
  display: none;
}
.menu-btn {
  color: white;
  font-size: 22px;
  cursor: pointer;
  display: none;
}

/* header section */
header {
  background-image: url("images/banner.jpg");
  /* height na dile dekha jabena */
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* main first section */
.first-section-div {
  background-color: #16213e;
}
.first-section-title {
  text-align: center;
  color: white;
  padding: 40px 0;
  letter-spacing: 0.2em;
}
.six-box-parent {
  width: 100%;
  padding: 0 20px 100px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.single-service {
  background-color: white;
  padding: 25px 40px;
  text-align: center;
  box-shadow: 10px 10px 10px gray;
}
.single-service i {
  font-size: 40px;
}
.single-service h2 {
  margin: 10px 0;
}

/* 2nd smart area section css code */
.smart-area-div {
  background-color: #154360;
  padding-bottom: 100px;
}
.smart-area-title {
  text-align: center;
  padding: 50px 0;
  letter-spacing: 0.3em;
  font-size: 20px;
  color: yellow;
}
.smart-area-img-text-parent {
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}
.smart-area-text {
  color: white;
}
.smart-area-text > h4 {
  text-transform: uppercase;
}
.smart-area-text h2 {
  margin: 20px 0;
}
.smart-area-text a {
  text-decoration: none;
  color: black;
  margin-top: 30px;
  display: inline-block;
  background-color: #ffe4c4;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 500;
}

/* 3rd feature section style */
.third-section-main-div {
  background-image: url(images/about-section.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.feature-text-box-parent {
  display: flex;
  margin: 0 200px;
  padding: 100px 0;
  align-items: center;
}
.feature-text {
  color: white;
  margin-right: 50px;
}
.feature-text p {
  margin: 20px 0;
}
.feature-text ul {
  margin-left: 20px;
}
.feature-text a {
  text-decoration: none;
  margin-top: 30px;
  display: inline-block;
  background-color: #ffff00;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 500;
}
.feature-boxes-parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}
.single-feature-box {
  background-color: #eaecee;
  border: 2px solid #32cd32;
  padding: 40px 20px;
  text-align: center;
}
.single-feature-box p {
  margin-top: 20px;
}

/* 4 advice section style */
#fourth-section {
  background-color: #154360;
  padding: 100px 0;
}
.advice-parent {
  display: flex;
  gap: 50px;
  margin: 0 200px;
}

.left-advice img {
  width: 100%;
}
.left-advice h2 {
  color: white;
  margin: 10px 0 15px 0;
}
.left-advice p {
  color: white;
  line-height: 1.5;
  text-align: justify;
}
.left-advice-icons {
  text-align: center;
  margin-top: 20px;
}
.left-advice-icons a {
  text-decoration: none;
  margin: 0 20px;
  display: inline-block;
  font-size: 18px;
  padding: 10px 30px;
  background-color: white;
  border-radius: 40px;
  color: black;
  transition: 0.5s;
}
.left-advice-icons a:hover {
  background-color: #ffe4c4;
}

.right-advice h2 {
  color: white;
  padding-bottom: 15px;
  border-bottom: 2px solid red;
}
.right-advice p {
  margin-top: 15px;
  color: white;
  text-align: justify;
  line-height: 1.5;
}
.right-advice a {
  text-decoration: none;
  background-color: white;
  margin-top: 15px;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  color: black;
  font-weight: 500;
  transition: 0.5s;
  border: 1px solid black;
}
.right-advice a:hover {
  background-color: #ffe4c4;
}

/* contcat us section style */
#contact-section {
  background-image: linear-gradient(rgba(57, 88, 162, 0.37), rgb(64, 137, 199)), url(images/contact.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 100px 0;
}
form{
  background-color: #2E357A;
  max-width: 50%;
  margin: 0 auto;
  padding: 50px 60px;
  border: 6px solid #4497D3;
  border-radius: 10px;
}
form h2{
  color: white;
  text-align: center;
  font-size: 30px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
form p{
 color: white;
 text-align: center;
 margin: 30px 0;
 letter-spacing: 0.1em;
}
.contact-us-inputs{
  display: block;
  width: 100%;
  height: 40px;
  margin: 50px 0;
  border: none;
  outline: none;
  background: none;
  font-weight: bold;
  color: white;
  font-size: 18px;
  border-bottom: 3px solid #4497D3;
}
.contact-us-inputs::placeholder{
  color: #4497D3;
  font-size: 18px;
  font-weight: bold;
}
.submit-btn {
  display: block;
  margin: 0 auto;
  padding: 5px 40px;
  font-size: 20px;
  background: none;
  color: white;
  text-transform: uppercase;
  outline-style: ridge;
  cursor: pointer;
  transition: 0.5s;
}
.submit-btn:hover{
  background-color: #16213E;
}
/* nav bar responsive code */
@media only screen and (max-width: 940px) {
  nav ul {
    position: fixed;
    /* cause nav er height 80px deoa ase */
    top: 80px;
    /* hidden kora holo */
    left: -100%;
    background-color: #17202a;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
    transition: all 0.5s ease;
  }
  nav ul li {
    margin: 50px 0;
  }
  nav ul li a {
    font-size: 22px;
  }
  nav ul li a:hover,
  nav ul li a.active-nav-item {
    background: none;
    color: red;
  }
  .menu-btn {
    display: block;
  }
  #click:checked ~ ul {
    left: 0%;
  }
  #click:checked ~ .menu-btn i::before {
    content: "\f00d";
    font-size: 22px;
  }
}
/* first section media query code */
@media only screen and (max-width: 688px) {
  .six-box-parent {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    width: 100%;
  }
  .smart-area-img-text-parent {
    display: block;
    margin: 0 30px;
  }
  .smart-area-image img {
    width: 100%;
    margin-bottom: 50px;
  }
  .feature-text-box-parent {
    display: block;
    margin: 0 20px;
    padding: 100px 0;
    align-items: center;
  }
  .feature-boxes-parent {
    display: block;
    margin: 50px 0;
  }
  .single-feature-box {
    margin: 20px 0;
  }
  /* advice section */
  .advice-parent {
    display: block;
    margin: 0 30px;
  }
  .left-advice-icons {
    text-align: left;
    margin-bottom: 50px;
  }
  .left-advice-icons a {
    margin: 10px 5px;
  }
  /* contact us section start */
  form{
    max-width: 90%;
    padding: 20px 30px;
  }
}
@media only screen and (min-width: 689px) and (max-width: 992px) {
  .six-box-parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
  }
  .smart-area-img-text-parent {
    display: block;
    margin: 0 70px;
  }
  .smart-area-image img {
    width: 100%;
    margin-bottom: 70px;
  }
  .feature-text-box-parent {
    display: block;
    margin: 0 70px;
    padding: 100px 0;
    align-items: center;
  }
  .feature-boxes-parent {
    display: block;
    margin: 50px 0;
  }
  .single-feature-box {
    margin: 20px 0;
  }
  /* advice section */
  .advice-parent {
    display: flex;
    margin: 0 70px;
  }
  .left-advice-icons {
    text-align: center;
  }
  .left-advice-icons a {
    margin: 10px 5px;
  }
  /* contact us start */
  form{
    max-width: 90%;
    padding: 40px 50px;
  }
}
@media only screen and (min-width: 993px) {
  .six-box-parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    width: 100%;
  }
  .advice-parent {
    display: flex;
    margin: 0 70px;
  }
  .left-advice-icons {
    text-align: center;
  }
  .left-advice-icons a {
    margin: 10px 5px;
  }
}
